* {
    margin: 0;
    padding: 0;
}

/* header section */
.menu-container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.logo img {
    width: 200px;
}

.menus ul {
    list-style: none;
    display: flex;
}

.item {
    color: white;
    margin-right: 15px;
}

/* banner section */
.banner-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    background-image: url("./images/background.png"), linear-gradient(45deg, #272727, #272727);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-content h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

.banner-content p {
    margin-bottom: 15px;
}

.banner-content button {
    background-color: orangered;
    border: none;
    padding: 15px 25px;
    color: white;
    border-radius: 5px;
}

.banner-img img {
    width: 400px;
}

/* about section */
.about-title {
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
}

.about-container {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.about-content h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.about-content p {
    margin-bottom: 15px;
}

.about-content button {
    background-color: orangered;
    border: none;
    padding: 15px 25px;
    color: white;
    border-radius: 5px;
}

.about-img img {
    width: 400px;
}